.watu-question, #action-button {
	display:none;
}

form.quiz-form {
	text-align:left;
}

.single-page-quiz .watu-question, .single-page-quiz #action-button {
	display:block;
}
.single-page-quiz #next-question {
	display:none;
}
.question-content {
	margin-top:20px;
}

.answer span {
	padding-right:20px;
}
.user-answer span {
	font-weight:bold;
	background:url(wrong.png) no-repeat right top;
}
.correct-answer span {
	background:url(correct.png) no-repeat right top;
}

.watu-sidebox
{
	border:1px solid black;
	padding:10px;
	margin-bottom: 20px;
}

#watu-sidebar
{
	float:left;
	min-width:200px;
	max-width: 320px;
}

#watu-related, #watu-ad
{
	background-color: #BBEEDD;
}

.quiz-form label {
   display: inline !important;
}

.watu-basic-chart td, .watu-basic-chart-points td, .watu-basic-chart-percent td {
	padding: 6px;
}

.quiz-form input[type='checkbox'] {
   display: inline !important;
}

.quiz-form input[type='radio'] {
   display: none;
}

.show-question {
	border-bottom: 1px dashed #DDD;
	margin-bottom: 7px;	
}

.show-question-content {
	font-size:110%;
}

.watu-admin label {
	min-width: 150px;
	display:block;
	float:left;
}

.watu-padded {
	padding: 10px;
}

.watu-twitter-share-button {
	margin: 0px !important;
}

.watu-textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    max-width: 100%;
}

/* The following is override for themes that set radios and checkboxes on their own line */
 .quiz-form label,
 .quiz-form input[type="checkbox"],
 .quiz-form input[type="radio"] {
 	display: none;
 }
 form.quiz-form span {
 	display: inline;
 }
 form.quiz-form input {
	 display: inline;
 }
 input.watu-beehive {
 	display:none !important;
}

.quiz-form input[type='radio'] {
	display: none;
}

.graph {
width: 500px; /* width and height are arbitrary, just make sure the #bar styles are changed accordingly */
height: 30px;
border: 1px solid #888; 
background: rgb(168,168,168);
background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(204,204,204,1) 23%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,168,168,1)), color-stop(23%,rgba(204,204,204,1)));
background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
background: -o-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#cccccc',GradientType=0 );
background: linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
position: relative;
}
#bar {
height: 29px; /* Not 30px because the 1px top-border brings it up to 30px to match #graph */
background: rgb(255,197,120); 
background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(244,128,38,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(244,128,38,1))); 
background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
background: linear-gradient(top, rgba(255,197,120,1) 0%,rgba(244,128,38,1) 100%); 
border-top: 1px solid #fceabb;
}
#bar p { position: absolute; text-align: center; width: 100%; margin: 0; line-height: 30px; }
.error {
  /* These styles are arbitrary */
background-color: #fceabb;
padding: 1em;
font-weight: bold;
color: red;
 border: 1px solid red;
}

.show-question .question-desc{
	display: none;
}

.show-question .show-question-content{

	background-color: #d4d3d3;
	padding: 5px;
	cursor: pointer;
}

.qu_point
{
	background-color: #ababab;
    border-radius: 50%;
    margin-top: 1px;
    display: inline-block;
    margin: 2px;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.qu_point.current_q{
	background-color: #f89e4a;
}

.qu_point.complete_q{
	background-color: #000; 

}

.qu_tooltip{
	display: none;
}

.hidden{
	display: none;
}